@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Esta aplicação tem como o objetivo efetuar o CRUD de um sistema para gerenciar tarefas</p>
    <p>Clique nos botões abaixo para começar</p>
    <a class="btn btn-primary" href="/Tarefa" role="button">Todas as tarefas</a>
    <a class="btn btn-danger" href="/Tarefa/Pendente" role="button">Tarefas pendentes</a>
    <a class="btn btn-success" href="/Tarefa/Concluidas" role="button">Tarefas Concluidas</a>

</div>
